@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-mono: 'Montserrat Alternates', sans-serif;
  --font-nunito: 'Nunito', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

@font-face {
  font-family: 'baybin';
  src: 
    url('./fonts/baybayinsisil.woff2') format('woff2'),
    url('./fonts/baybayinsisil.woff') format('woff'),
    url('./fonts/baybin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-baybin {
  font-family: 'baybin', sans-serif;
}
